<%= form_with url: project_chat_messages_path(project),
              scope: :message,
              method: :post,
              data: { turbo: true } do |f| %>
  <div class="mb-2">
    <%= f.text_area :content,
      rows: 3,
      class: "form-control",
      placeholder: "Ex: Remplace AWS par Heroku, et enlève MongoDB. Je veux PostgreSQL." %>
  </div>

  <%= f.submit "Send to Codi", class: "btn btn-primary" %>
<% end %>
