<%= turbo_stream.replace "message_form" do %>
  <%= form_with model: [@project, @chat, Message.new] do |f| %>

    <div class="mb-2">
      <%= f.text_area :content,
        rows: 3,
        class: "form-control",
        placeholder: "Ex: Remplace AWS par Heroku, et enlève MongoDB. Je veux PostgreSQL." %>
    </div>

    <%= f.submit "Send to Codi", class: "btn btn-primary" %>

  <% end %>
<% end %>
